{% extends 'DigitalABCMainBundle:Default:layout.html.twig' %}

{% block meta %}
  {{ parent() }}
  <meta property="fb:app_id"                  content="672101806188225" />
  <meta property="og:title"                   content="testQuiz" />
  <meta property="og:type"                    content="tujmytestapp:quiz" />
  <meta property="og:locale"                  content="da_DK">
  <meta property="og:url"                     content="{{server_path}}quiz/challenge/{{ id }}" />
  <meta property="og:image"                   content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />
  <meta property="tujmytestapp:result"        content="{{result}}" />
{% endblock %}

{% block body %}
  {{ parent() }}
  <h2 class="quiz--result">The result was: {{result}} points</h2>
  <h1><a href="/#/quiz/1/{{ id }}">Challenge this result!!!</a></h1>
{% endblock %}
